<ion-content color="primary" padding>
  <form #form="ngForm" (ngSubmit)="onSubmit(form)">
    <ion-grid>
      <ion-row color="primary">
        <ion-col class="ion-text-center" size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div class="ion-padding">
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
          </div>
          <div class="ion-padding">
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Login</ion-button>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <div text-center>
          Caso não tenha conta, <a routerLink='/register'>
            cadastre-se</a>!
        </div><br />
  
        <ion-button (click)='testeDB()'>Teste db</ion-button>

        <ion-button (click)='photoGalery()'>Photos</ion-button>

        <ion-button (click)='goToGps()'>GPS</ion-button>
        <ion-button (click)='goToMap()'>Map</ion-button>
        <ion-button (click)='goToRegGasStation()'>Register Gas Station</ion-button>
        
      </ion-row>
    </ion-grid>
  </form>
</ion-content>